@using X.PagedList.Mvc.Core
@using X.PagedList
@model IEnumerable<TapHoa.Data.Loaisp>

@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "DanhMucLoaiSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Product category list</h3>

<p>
    <a asp-action="ThemLoai">Create</a>
</p>
<table class="table">
    <thead>
        <tr class="table-warning">
            <th>
                Product category name
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
        int i = 0;
        string cls = "table-success";
        }
@foreach (var item in Model) {
            cls = "table-success";
            i++;
            if (i % 2 == 0)
            {
                cls = "table-primary";
            }
        <tr class="@cls">
            <td>
                @Html.DisplayFor(modelItem => item.Tenloaisp)
            </td>
            <td>
                <a asp-action="SuaLoai" asp-route-Maloaisp="@item.Maloaisp">Edit</a> |
                <a asp-action="XoaLoai" asp-route-Maloaisp="@item.Maloaisp">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@* <div class="pagination">
    @Html.PagedListPager(Model, page => Url.Action("DanhMucLoaiSanPham", new { page }))
</div> *@
