@model IEnumerable<TapHoa.Data.Chitietdondathang>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Soluong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Thanhtien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaddhNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaspNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Soluong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Thanhtien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaddhNavigation.Maddh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaspNavigation.Masp)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
